<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="https://tomsuzuki.github.io/css/base.css">
	<link rel="stylesheet" type="text/css" href="./static/css/index.css">
	<link rel="shortcut icon" href="./static/img/icon-mini.gif">
	<script src="./static/js/html.js"></script>
	<title>FUN AI 2019</title>
</head>

<body class="bg_grid">
	<!-- jqueryのロード、メインのスクリプトのロード -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="./static/js/index.js"></script>

	<!-- 仮のHTML -->
	<div id="AI_root">
		<!-- テキスト画面 -->
		<div id="AI_text">
			<p id="AI_textWindow">
				JavaScriptを有効にしてください。
			</p>
		</div>

		<!-- 画像のところ -->
		<div id="AI_image">
			<img src="./static/img/ia1203.png" />
		</div>

		<!-- ボタンのところ -->
		<div id="AI_button">
			<h2>選択肢</h2>
			<ul id="AI_select">
				<li><a href="#" id="AI_select_1">ERROR</a></li>
				<li><a href="#" id="AI_select_2">ERROR</a></li>
				<li><a href="#" id="AI_select_3">ERROR</a></li>
			</ul>
		</div>

		<!-- FUN AIの文字入れる部分 -->
		<div id="FUN_AI">
			<p>MADE BY FUN_AI @2019</p>
		</div>
	</div>

</body>

</html>